.allproblems{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
}
.problems{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 7px;
}